* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.image-viewer-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.image-viewer-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  pointer-events: none;
}

#prev-img-button, #next-img-button {
  width: 100px;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  pointer-events: all;
}

#image-controller {
  width: 100%;
  height: 100%;
}

#image-here {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transform: scale(1);
}
